
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
top:0px;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 360px;
  background: #042331;
  transition: all .5s ease;
  z-index: x;
}
.sidebar header {

  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
  position:fixed;
  display:block;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 5px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.yy
{
top:100px;
left:0px;
width: 100px;
height: 100px;
position:relative; 
	animation-name: an1;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-fill-mode:backwards;
}

 
@keyframes an1 {
		0% {
			
			left:0px;
			top:0px;
			}
			
		25%{
			
			left:150px;
			top:0px;
		}
		
		50% {
			
			left: 300px;
			top:0px;
		}
		75% {
					
			left: 150px;
			top:0px;
		}
		100% {
			
			left: 0px;
			top:0px;
		}
		}
			


@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
	
	.card-boy1{
	background-color:#277850;
	}
	
#react{
height:70px;
width:auto;
position: relative;
left:0px;
display:flex;
justify-content: center;
padding-right: 30px;
margin-left: auto;
}
#header{
right:0px;
position: relative;
margin-right: auto;
display:flex;


}

h1{
font-family: 'Euphoria Script', cursive;
}
h2{
font-family: 'Euphoria Script', cursive;
}	
h3{
font-family: 'Euphoria Script', cursive;
}	
	
p{
font-family: 'Euphoria Script', cursive;
}
.containera {
  max-width: 960px;
}
.navbar-survival101 {
  background-color:#2B6DAD;
}
/* .navbar-survival101 .navbar-brand {
  margin-right: 2.15rem;
  padding: 3px 0 0 0;
  line-height: 36px;
} */

.navbar-survival101 .navbar-brand img {
  vertical-align: baseline;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}

.search-box {
  position: relative;
  height: 34px;
}
.search-box input {
  border: 0;
  border-radius: 3px !important;
  padding-right: 28px;
  font-size: 15px;
}

.search-box .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.search-box .input-group-btn button {
  background-color: transparent;
  border: 0;
  padding: 4px 8px;
  color: rgba(0,0,0,.4);
  font-size: 20px;
}

.search-box .input-group-btn button:hover,
.search-box .input-group-btn button:active,
.search-box .input-group-btn button:focus {
  color: rgba(0,0,0,.4);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
  }
  
  .search-box {
    width: 300px !important;
  }
}

	#pphp{
	background-color:#50DBB4;
  padding:10px;
	}
	
.accordion {
  background-color: #207398;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border:1px solid #008B8B;
}

.active, .accordion:hover {
  background-color: #00CED1; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.card text-white bg-info mb-3
	
{
width: 60rem;
	}
.card-img
{
	height: 10rem;
	width: 10rem;
	padding:5px;
	}	
	
.alert
	
	{
		
		right:200 px;
	}
